.father{
    display:flex;
    justify-content: space-around;
    height:100vh;

}
.child{
    flex-basis : 30%;
    color:white;
    background : peru;
    font-size : 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content:
}

.child:nth-child(2){
  background : black;
}
