body{
  height: 100vh;
  background-color: green;
}

.grid {
  height: 100vh;
}

.sideBar{
  display : flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  height: 100%;
  position: fixed;
  background-color: red;
}

.sideBar  h1, .sideBar  h2, .sideBar div{
  padding-right : 10%;
  padding-left : 10%;
}


.mainPage {
  margin-left: 45%;
  height: 200%;
  background-color: blue;
}
