body{
  height: 100vh;
  background-color: black;
}


.sideBar{
  width: 35%;
  height: 100%;
  position: fixed;
  background-color: white;
  box-sizing: border-box;
  color : tomato;
}

.sideBar--title{
  padding-top : 30px;
  font-size : 80px;
  text-transform: uppercase;
}

.sideBar--content{

}

.sideBar  h1, .sideBar  h2, .sideBar div{
  padding-right : 10%;
  padding-left : 10%;
}


.mainPage {
  margin-left: 35%;
  height: 200%;
  background-color: tomato;
}
