@import url('https://fonts.googleapis.com/css2?family=Literata:wght@500&display=swap');

$yellow : #efcb56;

%logo{
    font-size: 40px;
    font-weight: 500;
    font-family: 'Literata', serif;
}

%title{
    font-size: 50px;
    font-weight: 500;
    font-family: 'Literata', serif;
    line-height: 70px;
}

%content{
    font-size: 30px;
    font-weight: 600;
    font-family: serif;
}